<?php

use AukroApi\CountryCode;

return [
	'username' => 'username',
	'password' => base64_encode(hash('sha256', 'password', TRUE)),
	'key' => 'key',
	'countryCode' => CountryCode::get(CountryCode::CZ),
	'versionKey' => 1480350339,
	'url' => 'https://webapi.aukro.cz.webapisandbox.pl/service.php?wsdl',
];
